%form.form{:method => :post, :action => url("/")}
  .form-inline
    %input.input-xlarge{:id => "username", :name => "username", :placeholder => "username", :type => "text", :value => params["username"]}
    %input.input-xlarge{:id => "password", :name => "password", :placeholder => "password / token", :type => "password", :value => params["password"]}

  %input#path{:name => "url", :type => "text", :value => full_url, :placeholder => "https://{subdomain}.zendesk.com/api/v2/{path}.json"}

  #input
    #params
      - (@url_params || {}).each do |param|
        = haml :param, :locals => { :param => param }

    %button.btn#add-param{:type => "button"}
      Add URL Parameter

    #possible-params{:href => "#"}
      %i.icon-plus
      %i.icon-minus.hide
      Valid URL Parameters

    #possible-params-text.hide.alert.alert-info
      per_page, page, includes, sort_order
      %small.inline (these may not be honored for all requests)

    %textarea#json.hide{:name => "json", :placeholder => '{ "": "" }'}= @json

  %select#method-select{:name => "method"}
    - %w{GET POST PUT DELETE}.each do |method|
      %option{:value => method, :selected => @method == method.downcase.to_sym}= method

  %button.btn.btn-primary{:type => :submit}
    Submit

#response
  - if @html_request && @html_response
    %ul.nav.nav-pills
      %li
        %a.tab-link#request-tab-link{:href => "#request"}
          Request
      %li.active
        %a.tab-link#response-tab-link{:href => "#response"}
          Response

  - if @error
    .alert.alert-error
      %button.close{:type => "button", "data-dismiss" => "alert"} x
      %span= "Error: #{@error}"

  - if @html_request
    #request-tab.code.tab.hide
      %pre= @html_request

  - if @html_response
    #response-tab.code.tab
      %pre= @html_response

- if @user_request
  - url = url("/#{@user_request._id}")

  You can access this request again at
  %a{:href => url}= url
  %small.inline (your password isn't stored)

:javascript
  $("#add-param").click(function(event) {
    event.preventDefault();
    $("#params").append(#{haml(:param, :locals => { :param => {} }).to_json});
  });
