%form.form.well{:method => :post}
  .form-inline
    %input.input-xlarge{:id => "username", :name => "username", :placeholder => "username", :value => params["username"]}
    %input.input-xlarge{:id => "password", :name => "password", :placeholder => "password / token", :type => "password", :value => params["password"]}

  %br

  #path.inline
    %select#method_select{:name => "method"}
      - %w{GET POST PUT DELETE}.each do |method|
        %option{:value => method, :selected => @method == method.downcase.to_sym}= method

    %span.bold
      https://
    %input{:name => "url", :type => "text", :value => params["url"], :placeholder => "subdomain"}
    %span.bold
      \.zendesk.com/api/v2/

    %input{:name => "path", :type => "text", :value => @path, :placeholder => "path"}

    %span.bold
      \.json

  #input
    #params
      - @get_params.each do |param|
        = haml :param, :locals => { :param => param }

    %button.btn#add-param
      Add URL Parameter

    %textarea#json.hide{:name => "json"}
      { "": "" }

    %p.error

  %button.btn.btn-primary{:type => :submit}
    Submit

.response
  - if @html_request && @html_response
    %ul.nav.nav-pills.well
      %li.active
        %a.tab_link#request{:href => "#"}
          Request
      %li
        %a.tab_link#response{:href => "#"}
          Response

  - if @error
    .error.code.tab
      %pre= "Error: #{@error}"

  - if @html_request
    #request_tab.code.tab
      %pre= @html_request

  - if @html_response
    #response_tab.code.tab.hide
      %pre= @html_response

:javascript
  $("#add-param").click(function(event) {
    event.preventDefault();
    $("#params").append(#{haml(:param, :locals => { :param => {} }).to_json});
  });
