%h1= @klass.singular_resource_name


- content_for :with_client do
  / Yeah, this sucks. But we may not have the client yet
  - get_resource
  .container-fluid
    .row-fluid
      .span6
        %form.form-horizontal{:method => "POST"}
          %input{:type => "hidden", :name => "_method", :value => "PUT"}
          - @resource.attributes.each do |attribute, value|
            .control-group
              %label.control-label{:for => attribute}= attribute
              .controls
                - if !!value == value
                  %input{:type => "checkbox", :checked => value}
                - elsif value.is_a?(Hash)
                  association?
                  %pre= CGI.escapeHTML(value.inspect)
                - else
                  %input.medium{:id => attribute, :name => "#{@klass.singular_resource_name}[#{attribute}]", :value => value, :readonly => uneditable?(attribute)}
          .form-actions
            - if @resource.respond_to?(:save)
              %button.btn.btn-primary{:type => :submit} Save
              %button.btn
                %a{:href => url("/#{@klass.resource_name}")} Cancel
      .span6
        - if request.put?
          %pre= CGI.escapeHTML(@json_request)
          %pre= CGI.escapeHTML(@json_response)
